<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div id="homeHeader" calss="commonHeader">			
		</div>
		<div id="homeContent">
			<div class="title">
				<img src="../img/header.jpg">
			</div>
			<div class="tit_Search">
				<img src="../img/001.png">
			</div>
			<div class="swiper-container" id="homeBanner">
				<div class="swiper-wrapper" id="homeWrapper"></div>			
				<div class="swiper-pagination"></div>						
		</div>	
		<strong></strong>
		<div class="cont_List">
			<p>猜你喜欢</p> <span>全部团购&gt;</span>
		</div>
			<div class="home_Chang">	
				<ul></ul>
			</div>						
		<b>查看全部团购</b>					
		</div>
		
	</body>
	<script src="../js/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
</html>
