<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
	<div id="loginHeader" class="commonHeader">
				<div class="login_Ret">返回</div>
				<div class="title">用户登录</div>	
				<div class="login_Regist">注册</div>
		</div>
		<div id="loginContent">
		<span>账户:</span><input type="text" name="username" placeholder="请输入用户名" id="username"><br/>
		<span>密码:</span><input type="password" name="psw" placeholder="请输入密码" id="psw">
		<p>还没有账号？点击右上角注册</p>
		<input type = "button" value="登录" id="btn1">
		</div>
	</body>
</html>
