<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div id="registerHeader" class="commonHeader">
				<div class="fanhui">返回</div>
				<div class="title">用户注册</div>
				<div class="den_register">登录</div>
		</div>
		<div id="registerContent">
		<span>请输入手机号:</span><input type="text" name="username" placeholder="请输入用户名" id="username"><br/>
		<span>请 输 入 密 码:</span><input type="password" name="psw" placeholder="请输入密码" id="psw">
		<p>点击注册表示你将接受<<百度糯米>>用户协议</p>
		<input type="button" id="butt_Btn" value="注册">
		</div>
	</body>
</html>
