<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />		
		<title></title>
	</head>
	<body>
		<div id="searchHeader" calss="commonHeader"></div>			
			<div id="searchContent">
				<input type="text" id="btn" placeholder="搜索商家或地点"><span class="cancel">取消</span>
				<div class="hotWord">
					<p>热门搜索</p>
					<div class="hot_Key">
						<ul></ul>										
					</div>
				</div>
			</div>
			<script src="../js/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
